<form [formGroup]="signupForm" (ngSubmit)="signup()" class="m-3 p-3 bg-dark text-white rounded">
  <h2 class="text-left">Signup</h2>  
  <div class="form-group mb-3">
    <label for="username" class="form-label">Username</label>
    <input id="username" type="text" formControlName="username" required class="form-control">
    <div class="container-fluid h-50">
      <div *ngIf="signupForm.controls['username'].invalid && (signupForm.controls['username'].dirty || signupForm.controls['username'].touched)">
        <div *ngIf="signupForm.controls['username'].errors?.['required']" class="text-warning">Username is required.</div>
        <div *ngIf="signupForm.controls['username'].errors?.['minlength']" class="text-warning">Username must be at least 3 characters long.</div>
        <div *ngIf="signupForm.controls['username'].errors?.['maxlength']" class="text-warning">Username cannot exceed 20 characters.</div>
      </div>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="email" class="form-label">Email</label>
    <input id="email" type="text" formControlName="email" required class="form-control">
    <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)">
      <div *ngIf="signupForm.controls['email'].errors?.['required']" class="text-warning">Email is required.</div>
      <div *ngIf="signupForm.controls['email'].errors?.['email']" class="text-warning">Email format invalid.</div>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="password" class="form-label">Password</label>
    <input id="password" type="password" formControlName="password" required class="form-control">
    <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)">
      <div *ngIf="signupForm.controls['password'].errors?.['required']" class="text-warning">Password is required.</div>
      <div *ngIf="signupForm.controls['password'].errors?.['minlength']" class="text-warning">Password must be at least 3 characters long.</div>
      <div *ngIf="signupForm.controls['password'].errors?.['maxlength']" class="text-warning">Password cannot exceed 20 characters.</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary me-3">Signup</button>
  <button type="button" (click)="navigateToLogin()" class="btn btn-secondary">Return to Login</button>
  <div class="text-warning">{{ errorMessage() }}</div>
</form>